@using eCommerce.Models;
@model Customer; 

@{
    ViewData["Title"] = "Customer Page";
}

@Html.Partial("HeaderLinks")


<h2>Add a New Customer</h2>

    <div class="col-md-10">
        <!-- <form action="createCustomer" class="form-control" method="post"> -->
            
                <label>Name the Customer</label>
                    <form asp-controller="Customer" asp-action="createCustomer" method="post">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input class="ordbtn btn btn-primary" type="submit" value="Create Customer">
                        </div>
                    </form>
    </div>
              @{                    
                    if(TempData.ContainsKey("DuplicateCustomer"))
                    {
                        <p class="text-danger font-weight-bold">@TempData["DuplicateCustomer"]</p>
                    }
                }
        
    <table>
        <tr>
            <th>Customer Name</th>
            <th>Created Date</th>
            <th>Formatted Date</th>
            <th>Actions</th>            
        </tr>
        @foreach(var customer in ViewBag.AllCustomers)
        {
        <tr>
            <td>
                @customer.Name
            </td>
            
            <td>
                @customer.CustomerDate
            </td>

            <td>
                
                @ViewBag.testing
            </td>
        </tr>
        }    
    </table>        

    ViewData["Title"] = "Customer Page";

        <table>
        <tr>
            <th>Customer Name</th>
            <th>Created Date</th>
            <th>Formatted Date</th>
            <th>Actions</th>            
        </tr>
        @foreach(var customer in ViewData["th"] as List <Customer>)
        {

        <tr>
            <td>
                @customer.Name
            </td>
            
            <td>
                @customer.CustomerDate
            </td>

            <td>
                @ViewBag.postformatted
            </td>
        </tr>
        }    
    </table>   