<h1>Auction Listing Detail</h2>

<a href="/success"><button>Dashboard</button></a>
<a href="/logout"><button>Logout</button></a>

<h1>@ViewBag.Product.name<h1>
<h3>Listed by: @ViewBag.Product.user</h3>

<h3>Time remaining:</h3>


<p>@ViewBag.Product.description</p>

<h2>Current highest bid:</h2>
<p>@ViewBag.Product.bid</p>
<h2>Current highest bidder:</h2>
<p>@ViewBag.Product.user.balance</p>
