@using trialrun.Models
@model LoginRegViewModel

@{
    ViewData["Title"] = "Home Page";
}
<h1>Current Auctions</h1>



<h1>Welcome @ViewBag.UserFirstName</h1>



<a href="auctionPlanner"><button>new Auction</button></a>
<a href="/logout"><button>Logout</button></a>

<table border="1">
    <tr>
        <th>Product</th>
        <th>End Date</th>
        <th>Seller</th>
        <th>Top Bid</th>
        
        <th>Delete</th>
        <th>Time Remaining</th>
    </tr>

<!-- In table, with loop, add each wedding -->
    @foreach(var product in @ViewBag.AllProducts)
        //CASE SENSITIVE ABOVE
        {
            
            <tr>
                <td>
                    <!-- //currently whole object being taken in
                    //here you can grab, from the object, any of the columns'(here id)
                    //when sent to the route, the route will have 
                    //the id to select the correct -->
                    <a href="/auctionDetail/@product.ProductID">@product.name</a>
                </td>

                <td>
                    @product.endDate
                </td>

                <td>
                    @product.user.firstName
                </td>
                
                <td>
                    <!-- System.Console.WriteLine(ViewBag.helloUser.userID);
                    System.Console.WriteLine(wedding.userId); -->
                    @product.bid
                </td>
                
                <td>
                    @if(ViewBag.UserID == product.UserID)
                        {
                                 
                        <a href="delete/@product.ProductID">Delete</a>                                         
                        }
                </td>
                <td>
                    @Convert.ToInt32(((product.endDate.AddYears(0)-DateTime.Now).TotalDays))
                </td>
            </tr>
            
        }
        
</table>
<!-- @ViewBag.RightNow -->