@using eCommerce.Models;
@model Order;

@{
    ViewData["Title"] = "Home Page";
}

<p>Get to adding stuff</p>

<!-- Below: commented out and trying to bring in partials below -->
<!-- <h6>
    <ul class=sidebyside>
    <li><a href="dashboard">Dashboard</a></li>
    <li><a href="products">Products</a></li>
    <li><a href="orders">Orders</a></li>
    <li><a href="customers">Customers</a></li>
    <li><a href="settings">Settings</a></li>
    </ul>
</h6> -->
@Html.Partial("HeaderLinks")

<form asp-controller="Home"  method="post">
    <span>

        <div>
            <input type="search" id="mySearch" placeholder="Search for something..">
        </div>
        <div>
            <button onclick="myFunction()">Try it</button>
        </div>
        

        <p id="demo"></p>

        <script>
        function myFunction() {
            var x = document.getElementById("mySearch").placeholder;
            document.getElementById("demo").innerHTML = x;
        }
        </script>

    </span>
</form>


<h2>Recent Orders</h2>
    @foreach(var order in ViewBag.LastThreeOrders)
    {
    <div>
        @order.customer.Name purchased @order.product.Quantity @order.product.ProductName ...
        ...
            (@Convert.ToInt32(((DateTime.Now-order.PurchaseDate.AddYears(0)).TotalDays)) days ago)
            OR @Convert.ToInt32(((DateTime.Now-order.PurchaseDate.AddYears(0)).TotalHours)) hours ago
        
    </div>    
        
    }
    <div>
        <a style="margin-left: 400px" href="orders">show all orders...</a>
    </div>
    

<h2>New Customers</h2>
        @foreach(var customer in ViewBag.LastThreeCustomers)
    {
    <div>
        @customer.Name joined the store ...
        ...
            (@Convert.ToInt32(((DateTime.Now-customer.CustomerDate.AddYears(0)).TotalDays)) days ago)
            OR @Convert.ToInt32(((DateTime.Now-customer.CustomerDate.AddYears(0)).TotalHours)) hours ago
        
    </div>
    
     }
    <div>
        <a style="margin-left: 400px" href="customers">show all customers...</a>
    </div>